.navigation-fixed {
  position: fixed;
  bottom: 0;
  width: 400px;
  background-color: white;
  border-bottom-left-radius:2rem;
  border-bottom-right-radius:2rem;
  .navigation-bar {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    .navItem {
    }
  }
}
